* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
